.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6432,#f63f2e)
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
}

.header__navbar-user {
    display: flex;
    justify-content: center;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    top: 108%;
    padding-left: 0;
    right: 0;
    background-color: var(--white-color);
    list-style: none;
    width: 160px;
    z-index: 1;
    box-shadow: 0 1px 3px #ccc;
    border-radius: 2px;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    /* display: block; */
    position: absolute;
    border-width: 12px 10px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -22px;
    right: 23px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    width: 60%;
    height: 10px;
    /* background-color: black; */
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0,0,0,0.1);
}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-item-has-qr:hover .header__qr {
    display: block;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
    margin: 0 4px;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 8px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    /* margin: 0 4px; */
}

.header__navbar-item,
.header_navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
    text-decoration: none;
}

.header__navbar-item,
.header_navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header_navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.7)
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--seperate::after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    border-left: 1px solid #fecf8c;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-title-no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    top:118%;
    left: 0;
    padding: 4px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
    z-index: 1;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.header__qr::before {
    position: absolute;
    width: 100%;
    left: 0;
    top: -15px;
    height: 30px;
    content: "";
    display: block;
    /* background-color: red; */
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.headr_qr-link:nth-child(1) {
    margin-left: 11px;
}

.headr_qr-link:nth-child(2) {
    margin-right: 11px;
}

.head__qr-download-img {
    height: 14px;
}

/* Notify */ 

.header__notify {
    position: absolute;
    width: 400px;
    background-color: var(--white-color);
    top: 120%;
    right: 0;
    border: 1px solid #D3D3D3;
    cursor: default;
    will-change: opacity transform;
    animation: headerNotifyGrowth ease-in 0.2s;
    transform-origin: top calc(100%-20px);
    display: none;
    border-radius: 2px;
}

.header__notify::before {
    content: "";
    /* display: block; */
    position: absolute;
    border-width: 20px 28px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: 4px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    top: -16px;
    right: 0;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
    z-index: 1;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    font-weight: 400;
    margin: 0 0 0 12px;
    line-height: 40px;
    font-size: 1.4rem;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238,75,43,0.1);
}

.header_notify-link {
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header_notify-img {
    width: 48px;
    object-fit: contain;
}

.header_notify-info {
    margin-left: 12px;
}

.header_notify-name {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.6rem;
}

.header_notify-desciption {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify-footer {
    text-align: center;
    height: 40px;
}

.header__notify-footer-a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 48px;
    line-height: 40px;
    font-weight: 400;
}

@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Authen form */
.auth__form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth__form-container {
    padding: 0 32px;
}

.auth__form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 8px;
}

.auth__form-heading {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth__form-switch-btn {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth__form-form {
}

.auth__form-input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth__form-input:focus {
    border-color: #777;
}

.auth__form-aside {
    margin-top: 20px;
}

.auth__form-policy-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth__form-text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth__form-controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth__form-control-back {
    margin-right: 8px;
}

.auth__form-socials {
    padding: 14px 36px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    padding: 0 8px;
}

.auth__form-social-icon {
    font-size: 1.8rem;
}

.auth__form-social-facebook {
    color: var(--white-color);
    background-color: #3A5A98;
    flex-basis: 48%
}

.auth__form-social-google {
    background-color: var(--white-color);
    flex-basis: 48%
}

.auth__form-social-facebook
.auth__form-social-icon{
    color: var(--white-color);
}

.auth__form-socials-title {
    margin: 0px 28px;
}

.auth__form-help {
    display: flex;
    justify-content: flex-end;
}

.auth__form-help-link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 15px;
    color: #989898;
}

.auth__form-help-link--color {
    color: var(--primary-color);
    position: relative;
}

.auth__form-help-link--color::before {
    content: "";
    border-right: 1px solid #989898;
    height: 15px;
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
}

/* Header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search {
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
    padding: 0 12px;
} 

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}

.header__logo-img {
    width: 150px;
}

.header_search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header_cart {
    width: 150px;
    text-align: center;
}

.header_cart-heading {
    text-align: left;
    margin: 8px 0 0 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.header_cart-list-item {
    padding-left: 0;
    /* list-style: none; */
    max-height: 55vh;
    overflow-y: auto;
}

.header_cart-item {
    display: flex;
    align-items: center;
}

.header_cart-item:hover {
    background-color: #F8F8F8;
}

.header_cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header_cart-item-info {
    width: 100%;
    margin-right: 12px;
} 

.header_cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}

.header_cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header_cart-item-multi {
    font-size: 0.9rem;
    color: #757575;
    margin: 0 3px;
}
.header_cart-item-quantity {
    color: #757575;
    font-size: 1.2rem;
}
.header_cart-item-body {
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.header_cart-item-discription {
    color: #757575;
    font-size: 1.3rem;
    font: 300;
}
.header_cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font: 300;
}

.header_cart-view {
    float: right;
    margin: 0 12px 12px 0;
}

.header_cart-view:hover {
    background-color: #f05d41;
}

.header_cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header_cart-wrap:hover .header_cart-list {
    display: block;
}

.header_cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header_cart-notice {
    position: absolute;
    color: var(--primary-color);
    background-color: var(--white-color);
    font-size: 1.4rem;
    top: -10px;
    right: -2px; 
    line-height: 1.4rem;
    padding: 1px 7px;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
}

.header_cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    /* margin:auto; */
}

.header_cart-list {
    position: absolute;
    top: 128%;
    right: -8px;
    background-color: var(--white-color);
    width: 410px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header_cart-list::before {
    position: absolute;
    content: "";
    display: block;
    border-width: 25px 28px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -38px;
    right: 4px;
    cursor: pointer;
}

.header_cart-list--no-cart {
    padding: 16px 0;
}

.header_cart-list--no-cart .header_cart-no-cart-img,
.header_cart-list--no-cart .header_cart-list-no-cart-mess {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.header_cart-no-cart-img {
    width: 50%;
    display: none;
}

.header_cart-list-no-cart-mess {
    display: none;
    font-size: 1.4rem;
    margin-top:12px;
}

.header_search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header_search-input {
    line-height: 100%;
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    flex: 1;
    border: none;
    outline: none;
    padding: 0 16px;
    color: var(--text-color);
    border-radius: 2px;
}

.header_search-input:focus ~ .header_search-history {
    display: block;
}

.header_search-select {
    border-left: 1px solid #A8A8A8;
    padding-left:16px;
    position: relative;
    cursor: pointer;
}

.header_search-select:hover .header_search-option {
    display: block;
}

.header_search-option {
    position: absolute;
    right: 0;
    top: 96%;
    list-style: none;
    width: 130px;
    box-shadow: 0 1px 3px #ccc;
    padding-left: 0;
    border-radius: 2px;
    /* overflow: hidden; */
    display: none;
    z-index: 1;
    animation: fadeIn ease-in 0.2s;
}

.header_search-option::before {
    content: "";
    display: block;
    width: 100%;
    height: 18px;
    top: -10px;
    position: absolute;
}

.header_search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header_search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header_search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header_search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header_search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header_search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header_search-option-item--active i {
    display: inline-block;
}

.header_search-select-lable {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header_search-select-icon {
    color: #4A4A4A;
    margin: 0 16px;
    position: relative;
    top:1px;
}

.header_search-btn {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    width: 60px;
    height: 36px;
    border-radius: 2px;
    margin: 0 3px;
}

.header_search-btn:hover {
    background-color: #f56346;
    cursor: pointer;
}

.header_search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

/* Search histoty */
.header_search-history {
    position: absolute;
    top: 105%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(185, 184, 184);
    display: none;
    z-index: 1;
}

.header_search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 300;
}

.header_search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 8px 0 3px 0;
}

.header_search-history-list:last-child {
    border-radius: 2px;
}

.header_search-history-item {
    padding: 0 13px;
    height: 36px;
}

.header_search-history-item:hover {
    background-color: #fafafa;
}

.header_search-history-item a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 36px;
    display: block;
}

/* Cart */
/* .header_cart {
    position: relative;
} */

/* Header sort bar */

.header__sort-bar {
    position: fixed;
    top:var(--header-height);
    right: 0;
    left: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    /* display: flex; */
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-bar-item {
    flex: 1;
}

.header__sort-bar-link {
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    line-height: var(--header-sort-bar-height);
    position: relative;
}

.header__sort-bar-link::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #e5e5e5;
    left: 0;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
}

.header__sort-bar-item--active .header__sort-bar-link{
    color: var(--primary-color);
    position: relative;
}

.header__sort-bar-item--active .header__sort-bar-link::after {
    position: absolute;
    content: "";
    display: block;
    top: 92%;
    width: 100%;
    left: 0;
    border-bottom: 1px solid var(--primary-color);
}

.header__sort-bar-item:first-child .header__sort-bar-link::before {
    display: none;
}

/* App container */

.app_container {
    background-color: #f5f5f5;
}

.app_content {
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 16px 20px 0;
    margin-top: 0px;
    text-transform: uppercase;
    font-weight: 500;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding-left: 0;
    padding-bottom: 8px;
    list-style: none;
    /* margin-left: 9px; */
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    position: absolute;
    border-top: 1px solid #e1e1e1;
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item--active .caregory-item__link {
    color: var(--primary-color);
}

.category-item--active .caregory-item__link::before {
    content: "";
    display: block;
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

.caregory-item__link {
    position: relative;
    color: var(--text-color);
    font-size: 1.6rem;
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.caregory-item__link:hover {
    right: -4px;
    color: var(--primary-color);

}

/* Mobile category */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
    background-color: #87afd8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #76c98d;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
    background-color: #88cf81;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    text-align: center;
    width: 108px;
    height: calc(var(--line-height) * 2); 
    display: block;
    border-radius: 3px;
    font-weight: 300px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 6px;
}

/* Home sort + filter */

.home-filter {
    background-color: rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__page {
    display: flex;
    align-items: center;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;

}

.home-filer-btn {
    margin-right: 12px;
    min-width: 90px;
}
 
.home-filter__page {
    margin-left: auto;
}

.home-filter__page-number {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    display: flex;
    border-radius: 2px;
    overflow: hidden;
}

.home-filter__page-button {
    display: flex;
    width: 38px;
    background-color: var(--white-color);
    height: 36px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.home-filter__page-button i {
    font-size: 1.4rem;
    color: #666;
}

.home-filter__page-control .home-filter__page-button:first-child {
    margin-right: 1px;
}

.home-filter__page-button--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-button--disable i{
   color: #ccc;
}

/* Product */

.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px 10px;
    height: 36px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item_price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item_price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.4rem;
}

.home-product-item__liked {

}

i.home-product-item__like-icon-fill {
    display: none;
    color: red;
}

.home-product-item__liked .home-product-item__like-icon-fill {
    display: block;
}

.home-product-item__liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.9rem;
    color: #ccc;
    margin: -1px 0 0 auto;
    /* Có thể scale icon nếu không set được font size bằng cách sau */
    /* transform: scale(0.5);
    transform-origin: right; */
}

.home-product-item__rating .home-product-item__start-gold {
    color: yellow;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__original {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #595959;
    font-weight: 300;
    font-size: 1.2rem;
}

.home-product-item__brand {

}

.home-product-item__original-name {

}

.home-product-item__favourate {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourate::before {
    content: "";
    display: block;
    position: absolute;
    border-top: 3px solid var(--primary-color);
    border-left: 3px solid transparent;
    left: 0;
    top: 100%;
    filter: brightness(60%);
}

.home-product-item__favourate i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64,0.93);
    text-align: center;
    border-top-right-radius: 2px; 
}

.home-product-item__sale-off::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64,0.93) transparent rgba(255, 216, 64,0.93);
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    bottom: 8px;
}

.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 42px;
    padding-left: 0;
}

.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-link:hover {
    color: var(--primary-color);
}

.footer-link i {
    font-size: 1.8rem;
    margin-right: 3px;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 84px;
    height: 86px;
    /* object-fit: contain; */
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.footer__download-apps {
    display: flex;
    flex-direction:column;
    margin-left: 16px;
    justify-content: center;
}

.footer__download-app-img {
    height: 20px;
}

.footer__download-app-link {
    text-decoration: none;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 8px 0;
    margin-top: 38px;
}

.footer__text {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}
