* {
  box-sizing: border-box;
  /* min-height: 100vh; */
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  /* min-height: 100vh; */
}

body {
  background-color: #ccc;
}


