.section-about {
    background-color: $color-grey-light-1;
    padding: 250px 15px;
    margin-top: -250px;
}

.section-skills {
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
        url("../../img/background2.jpg");
    padding: 200px 190px;
    margin-top: -250px;
    background-size: cover;
    position: relative;
    clip-path: ellipse(70% 50% at 50% 50%);
}

.section-courses {
    background-color: $color-grey-light-1;
    padding: 250px 190px 100px 190px;
    margin-top: -200px;
}

.section-testimonials {
    position: relative;
    padding: 50px 0;
}

.section-enroll {
    padding: 100px 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}
